<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <% include partials/menu.ejs %>

    <h3 class="trolol">Texte généré avec node js <%= param1 %></h3>

    <% include partials/footer %>
</body>

<!-- Menu Toggle Script -->
<script src="/js/menu.js"></script>
</html>