<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/ripple.css">
    <link rel="stylesheet" href="/css/userFriendly.css">
</head>
<body>
<% include partials/menu.ejs %>

<div class="container grpBtn">
    <p class="separationText"> Traitement des noeuds </p>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onclick="createNodeDialog()">Créer un noeud</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btnStandard" onClick="updateNodeDialog()">Ajouter/Editer un ou plusieurs attribut à un noeud</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onClick="deleteNodeDialog()">Supprimer un noeud</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onClick="deleteAttributeDialog()">Supprimer un attribut</button>
        </div>
    </div>
    <p class="separationText"> Traitement des relations </p>
    <hr>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onClick="createNodeRelationshipDialog()">Créer une relation</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onClick="updateNodeRelationshipDialog()">Editer une relation</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btnStandard" onClick="deleteRelationshipDialog()">Supprimer une relation</button>
        </div>
    </div>
    <p class="separationText"> Traitement de la base </p>
    <hr>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
            <button class="btn btn-primary btnStandard" onClick="deleteDatabase()">Vider la base de données</button>
        </div>
    </div>
</div>

<div id="modalCreateNode" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Création d'un noeud</h4>
            </div>
            <form id="formCreateNode" name="createNode" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nodeType">Type de noeud</label>
                            <span class="glyphicon glyphicon-info-sign info-bulle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></span>
                            <input type="text" id="typeNode0" name="typeNode" class="form-control" required/>
                        </div>
                        <!--                        <div class="col-md-6">
                                                    <label for="nodeType">Nom du noeud</label>
                                                    <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                                                </div>-->
                        <input type="hidden" name="KEYWORD" value="CREATE" />
                    </div>
                    <h4>Attributs</h4>
                    <div id="rowCreate" class="row">
                        <div class="col-md-6">
                            <label for="attributesName0">Nom</label>
                            <input type="text" name="attributesName0" id="nameInput0" class="form-control" required/>
                        </div>
                        <div class="col-md-6">
                            <label for="attributesValue0">Valeur</label>
                            <input type="text" name="attributesValue0" id="valueInput0" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="addAttributes('rowCreate')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>
                    <button type="button" class="btn btn-success" onClick="submit('formCreateNode')">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalUpdateNode" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mise à jour d'un noeud</h4>
                <h6 class="help-block">Permet également d'ajouter de nouveaux attributs</h6>
            </div>
            <form id="formUpdateNode" name="updateNode" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div id="rowNode">
                            <div class="col-md-6">
                                <label for="nodeType">Type de noeud</label>
                                <input type="text" id="typeNode0" name="typeNode" class="form-control" required/>                            
                            </div>
<!--                            <div class="col-md-6">
                                <label for="nodeType">Nom du noeud</label>
                                <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                            </div>-->
                        </div>
                        <input type="hidden" name="KEYWORD" value="SET" />
                    </div>
<!--                    <div class="row pull-right btn-addNode">
                        <button type="button" class="btn btn-primary" onClick="addNodes()">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter un noeud
                        </button>
                    </div>-->
                    <hr>
                    <h5>Attributs</h5>
                    <div id="rowUpdate" class="row">
                        <div class="col-md-6">
                            <label for="attributesName0">Nom</label>
                            <input type="text" name="attributesName0" id="nameInput0" class="form-control" required/>
                        </div>
                        <div class="col-md-6">
                            <label for="attributesValue0">Valeur</label>
                            <input type="text" name="attributesValue0" id="valueInput0" class="form-control" required/>
                        </div>
                        <div class="container help-block">
                            <p>Le premier attribut permet de trouver quel noeud vous souhaitez mettre à jour</p>
                            <p>Il ne servira en aucun cas à modifier un attribut existant</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="addAttributes('rowUpdate')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalDeleteNode" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppresion d'un noeud</h4>
            </div>
            <form id="formDeleteNode" name="deleteNode" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="nodeType">Type de noeud</label>
                                <input type="text" id="typeNode0" name="typeNode" class="form-control" />                            
                        </div>
<!--                        <div class="col-md-6">
                            <label for="nodeType">Nom du noeud</label>
                            <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                        </div>-->
                        <input type="hidden" name="KEYWORD" value="DELETE" />
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div id="rowDelete" class="row">
                        <div class="col-md-6">
                            <label for="attributesName0">Nom</label>
                            <input type="text" name="attributesName0" id="nameInput0" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="attributesValue0">Valeur</label>
                            <input type="text" name="attributesValue0" id="valueInput0" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" >Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalDeleteNodeProperty" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppresion d'une propriété d'un noeud</h4>
            </div>
            <form id="formDeleteNodeProperty" name="deleteNodeProperty" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="nodeType">Type de noeud</label>
                                <input type="text" id="typeNode0" name="typeNode" class="form-control" />                            
                        </div>
<!--                        <div class="col-md-6">
                            <label for="nodeType">Nom du noeud</label>
                            <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                        </div>-->
                        <input type="hidden" name="KEYWORD" value="DELETE_PROPERTY" />
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div id="rowDeleteProperty" class="row">
                        <div class="col-md-6">
                            <label for="attributeAim">Nom</label>
                            <input type="text" name="attributeAim" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="attributeAimValue">Valeur</label>
                            <input type="text" name="attributeAimValue" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Attributs à supprimer</h4>
                    <div id="rowPropertiesToDelete" class="row">
                        <div class="col-md-6">
                            <input type="text" name="attributesName0" id="nameInput0" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="addAttributes('rowPropertiesToDelete')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>
                    <button type="submit" class="btn btn-success" >Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalCreateNodeRelationship" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Création d'une relation</h4>
            </div>
            <form id="formCreateNodeRelationship" name="createNodeRelationship" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="nodeType">Type de noeud</label>
                                <input type="text" id="typeNode0" name="typeNode" class="form-control" />                            
                        </div>
<!--                        <div class="col-md-6">
                            <label for="nodeType">Nom du noeud</label>
                            <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                        </div>-->
                        <input type="hidden" name="KEYWORD" value="RELATIONSHIP" />
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="attributeAim">Nom</label>
                            <input type="text" name="attributeAim" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="attributeAimValue">Valeur</label>
                            <input type="text" name="attributeAimValue" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Nom de la relation</h4>
                    <div id="rowRelationship" class="row">
                        <div class="col-md-6">
                            <input type="text" name="relationshipName" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Relation avec un autre noeud</h4>                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="otherNodeType">Type de noeud</label>
                            <input type="text" name="otherNodeType" id="otherNodeType" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="otherNodeAttributeAim">Type de noeud</label>
                            <input type="text" name="otherNodeAttributeAim" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="otherNodeAttributeAimValue">Type de noeud</label>
                            <input type="text" name="otherNodeAttributeAimValue" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
    <!--                <button type="button" class="btn btn-primary" onClick="addAttributes('rowRelationship')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>-->
                    <button type="submit" class="btn btn-success" >Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalUpdateNodeRelationship" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edition d'une relation</h4>
            </div>
            <form id="formUpdateNodeRelationship" name="updateNodeRelationship" action="/userFriendly" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="nodeType">Type de noeud</label>
                                <input type="text" id="typeNode0" name="typeNode" class="form-control" />                            
                        </div>
<!--                        <div class="col-md-6">
                            <label for="nodeType">Nom du noeud</label>
                            <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                        </div>-->
                        <input type="hidden" name="KEYWORD" value="UPDATE_RELATIONSHIP" />
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="attributeAim">La relation actuelle</label>
                            <input type="text" name="attributeAim" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="attributeAimValue">La relation actuelle</label>
                            <input type="text" name="attributeAimValue" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Relations</h4>
                    <div id="rowRelationship" class="row">
                        <div class="col-md-6">
                            <label for="origialRelationship">La relation actuelle</label>
                            <input id="originalRelationship" type="text" name="relationshipName" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="newRelationship">La nouvelle relation</label>
                            <input id="newRelationship" type="text" name="newRelationshipName" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Relation avec un autre noeud</h4>                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="otherNodeType">Type de noeud</label>
                            <input type="text" name="otherNodeType" id="otherNodeType" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <h4>Attribut nécessaire à la recherche du noeud</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="otherNodeAttributeAim">Nom</label>
                            <input type="text" name="otherNodeAttributeAim" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="otherNodeAttributeAimValue">Valeur</label>
                            <input type="text" name="otherNodeAttributeAimValue" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
    <!--                <button type="button" class="btn btn-primary" onClick="addAttributes('rowRelationship')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>-->
                    <button type="submit" class="btn btn-success" >Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalDeleteNodeRelationship" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression d'une relation</h4>
            </div>
            <form id="formDeleteNodeRelationship" name="deleteNodeRelationship" action="/userFriendly" method="post">
                <div class="modal-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#pane1">Menu 1</a></li>
                        <li><a data-toggle="tab" href="#pane2">Menu 2</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="pane1">
                            <h4>Relation</h4>
                            <div id="rowRelationship" class="row">
                                <div class="col-md-6">
                                    <label for="relationshipName">Nom de la relation</label>
                                    <input type="text" name="relationshipName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nodeType">Type de noeud</label>
                                    <input type="text" id="typeNode0" name="typeNode" class="form-control" />
                                </div>
        <!--                    <div class="col-md-6">
                                    <label for="nodeType">Nom du noeud</label>
                                    <input type="text" id="valueNode0" name="valueNode" class="form-control" />
                                </div>-->
                                <input type="hidden" name="KEYWORD" value="DELETE_RELATIONSHIP" />
                            </div>
                            <hr>
                            <h4>Attribut nécessaire à la recherche du noeud</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="attributeAim">Nom</label>
                                    <input type="text" name="attributeAim" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="attributeAimValue">Valeur</label>
                                    <input type="text" name="attributeAimValue" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="pane2">

                            <h4>Relation avec un autre noeud</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="otherNodeType">Type de noeud</label>
                                    <input type="text" name="otherNodeType" id="otherNodeType" class="form-control" />
                                </div>
                            </div>
                            <hr>
                            <h4>Attribut nécessaire à la recherche du noeud</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="otherNodeAttributeAim">Nom</label>
                                    <input type="text" name="otherNodeAttributeAim" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="otherNodeAttributeAim">Valeur</label>
                                    <input type="text" name="otherNodeAttributeAimValue" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
    <!--                <button type="button" class="btn btn-primary" onClick="addAttributes('rowRelationship')">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                    </button>-->
                    <button type="button" class="btn btn-success" onClick="submit('formDeleteNodeRelationship')">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>







<div id="modalDeleteDatabase" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Supprimer toute la base de données</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">
                    Attention ! Vous êtes sur le point de supprimer l'intégralité de votre base de données. Êtes-vous sûr que vous souhaitez faire ça ?
                </p>
                <form id="formDeleteDatabase" name="deleteDatabse" action="/userFriendly" method="post">
                    <input type='hidden' name="KEYWORD"  value="DELETE_DATABASE" />
                </form>
            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-primary" onClick="addAttributes('rowRelationship')">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter un attribut
                </button>-->
                <button type="button" class="btn btn-success" onClick="submit('formDeleteDatabase')">Oui</button>
                <button type="button" class="btn btn-danger" onClick="cancel('modalDeleteDatabase')">Non</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="block-graph col-lg-10 col-lg-offset-1">
        <div id="graph"></div>
    </div>
</div>
<div class="row">
    <div class="detailNode col-lg-10 col-lg-offset-1">
        <div id="detailedInfos"><p></p></div>
    </div>
</div>

<% include partials/footer %>

</body>

<!-- Menu Toggle Script -->
<script src="./js/menu.js"></script>
<script src="./js/ripple.js"></script>
<script src="./js/d3.js"></script>
<script src="./js/functions.js"></script>
<script src="./js/graph.js"></script>
<script src="./js/svg-pan-zoom.min.js"></script>
<script>

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }

    $("#addNode").on("click", function(){
        $("#areaRequete").html('CREATE (n {name:"World"}) RETURN "hello", n.name')
    })

    $("#returnNode").on("click", function(){
        $("#areaRequete").html('MATCH (n) RETURN n LIMIT 100')
    })

    $("#returnGraph").on("click", function(){
        $("#areaRequete").html('MATCH path = (n)-[r]->(m) RETURN path')
    })

    $("#findNode").on("click", function(){
        $("#areaRequete").html('START n=node:nodes(field = "label") RETURN n')
    })

    var vide = "";
    var jsonResponse = <%- requete %>;

    if(jsonResponse) {

        if (jsonResponse['errors'].length > 0) {
            swal("Erreur", "Code : " + jsonResponse.errors[0].code + "\n \n Message : " + jsonResponse.errors[0].message, "error");
        }
        if (jsonResponse['results'].length > 0) {
            genererGraph(jsonResponse);
        }
    }
    
    $(document).ready(function () {
        //can also be wrapped with:
        //1. $(function () {...});
        //2. $(window).load(function () {...});
        //3. Or your own custom named function block.
        //It's better to wrap it.
        //Tooltip, activated by hover event
        $("body").tooltip({
                    selector: "[data-toggle='tooltip']",
                    container: "body"
                })
                //Popover, activated by clicking
                .popover({
                    selector: "[data-toggle='popover']",
                    container: "body",
                    html: true
                });
        //They can be chained like the example above (when using the same selector).
        $(".node").mouseover(function(){
            var pouet = $(this).attr("data-content");
            $("#detailedInfos").html(pouet);
        });
    });
</script>
</html>