<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/ripple.css">
</head>
<body>
<% include partials/menu.ejs %>

<div class="row ligneBtn">
    <div class="col-lg-2 col-lg-offset-1">
        <button class="btn btn-primary btnStandard" id="addNode">Ajouter un noeud</button>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary btnStandard" id="findNode">Rechercher un noeud</button>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary btnStandard" id="returnNode">Retourne les noeuds</button>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary btnStandard" id="returnGraph">Retourne le graph</button>
    </div>
</div>

<div class="block-requete">
    <div class="row">
        <form action="/standard" method="post">
            <div class="col-lg-10 col-lg-offset-1 form-group">
                <textarea onkeyup="auto_grow(this)" id="areaRequete" class="form-control requete-input" name="ntm" rows="1" id="requete-input" placeholder="Tapez ici votre requête Cypher"></textarea>
            </div>
            <div class="col-lg-2 col-lg-offset-1">
                <button type="submit" class="btnValid">Valider</button>
            </div>
        </form>
    </div>
</div>
<div class="block-intermediaire"></div>
<div class="row">
    <div class="block-graph col-lg-10 col-lg-offset-1">
        <div id="graph"></div>
    </div>
</div>
<div class="row">
    <div class="detailNode col-lg-10 col-lg-offset-1">
        <div id="detailedInfos"><p></p></div>
    </div>
</div>
<% include partials/footer %>
</body>

<!-- Menu Toggle Script -->
<script src="/js/menu.js"></script>
<script src="/js/ripple.js"></script>
<script src="/js/d3.js"></script>
<script src="./js/graph.js"></script>
<script src="/js/svg-pan-zoom.min.js"></script>
<script>

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }

    $("#addNode").on("click", function(){
        $("#areaRequete").html('CREATE (n {name:"World"}) RETURN "hello", n.name')
    })

    $("#returnNode").on("click", function(){
        $("#areaRequete").html('MATCH (n) RETURN n LIMIT 100')
    })

    $("#returnGraph").on("click", function(){
        $("#areaRequete").html('MATCH path = (n)-[r]->(m) RETURN path')
    })

    $("#findNode").on("click", function(){
        $("#areaRequete").html('START n=node:nodes(field = "label") RETURN n')
    })
</script>

<% include partials/graph %>
</html>