<html>
<head>
    <% include partials/head %>
   
    <link rel="stylesheet" href="./css/ripple.css">
</head>
<body>
<% include partials/menu.ejs %>
<div class="col-md-6">
    <button id="caca" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
</div>
<% include partials/footer %>
</body>
<script>
    $(function() {
        $("#caca").tooltip();
    });
</script>
</html>
