.block-requete{
    background-color: #4b4b4b;
    width: 100%;
    margin-bottom: 50px;
}

.block-graph{
    background-color: #cccccc;
    height: 200px;
    padding: 25px;
    margin-top : 25px;
    border-radius: 4px;
    border: 2px solid black;
}

.requete-input{
    width: 100%;
    background-color: #cccccc;
    font-size: 2em;
    font-family: "COURIER", monospace;
    border: 2px solid #303030;
}

body{
    background-color: #4b4b4b;
}

.block-intermediaire{
    background-color: #303030;
    height: 50px;
}

.caca{
    position: relative;
    border: none;
    outline:none;
    cursor: pointer;
    background: cornflowerblue;
    color: white;
    padding: 18px 60px;
    border-radius: 2px;
    font-size: 22px;
    overflow:hidden;
}
