<div id="modalCreateNode" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="formCreateNode">
                <div class="container">
                    <div class="modal-header">
                        <label for="labelNodeType">Type de noeud</label>
                        <input type="text" id="labelNodeType" name="nodeType"/>
                    </div>
                    <div class="modal-body">
                        <span>Attributs</span>
                        <div class="row" id="node0">
                            <label for="nameInput0">Nom</label>
                            <input type="text" name="nodeName0" id="nameInput0" />
                            <label for="valueInput0">Valeur</label>
                            <input type="text" name="nodeValue0" id="valueInput0" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="glyphicon glyphicon-plus"><button onClick="addAttribute()"></button></i>
                        <button type="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>